---
title: SPASE Resource ID Maker
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Resource ID Maker</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
<p>
A SPASE Resource ID has the general form:
<pre class="code">
spase://NamingAuthority/ResourceType/Path
</pre>
where "spase://" is always present. The "NamingAuthority" is the name assigned to the curator of the resource. 
A list of current naming authorities can be found at <a href="http:/services/naming-authority.html">
http:/services/naming-authority.html</a>. The "ResourceType" is the name for the
type of resource. A list of current resource types can be found at: <a href="http:/data/ResourceTypes.html">http:/data/ResourceTypes.html</a>. 
The "Path" portion is any string which will make the identifier unique. Each resource class (conceptual, digital and physical) 
has a slightly different convention on the formation of the "path" portion of identifier.
</p>
<p>
You can use this tool to create a resource ID. 
Make some selections in the form below and a conforming resource ID will appear in the box.
</p>
<p>
<%@ include file="idmaker.jsp" %>
</p>

</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>
Related Items
</h2>
<ul class='side_nav'>
<li><a href="{{assets}}/services/naming-authority.html">List of Naming Authorities</a></li>
<li><a href="../stylesheet/index.html">XML Stylesheets</a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>