---
title: SPASE Simulation XML Parser
---

<div id="sidebar">
	<h3>Contents</h3>
   <ul id="toc" class="toc">
     <li class=""><a href="#documentation">Documentation</a></li>
     <li class=""><a href="#application">Application</a></li>
     <li class=""><a href="#example">Example XML</a></li>
   </ul>
</div>

<div id="content">
<h1>SPASE XML Parser</h1>
   <p>
	The SPASE XML parser for simulation resources is a collection of Java classes which can parse XML descriptions and
	load the information into a directly accessible form.  The SPASE data model simulation extensions are organized into 
	multiple groupings (resource) of information. In this implementation each grouping has 
	a corresponding Java class. An envelope class called "Description" can load, parse and create
	a corresponding collection of other classes to represent the XML file. During parsing a syntactical
	validation is performed (i.e., are tag balanced, etc), recognized tags are processed and unrecognized 
	tags are ignored. 
	<p>
	There is a "classic" and "JAXB" version of the parser. Both version provide similar functionality. 
	The "classic" version is generated using a in-house tool.
	The "JAXB" version is generated using version 2.0 of the 
	<a href="https://jaxb.dev.java.net/">JAXB</a> compiler. 
	To use the JAXB version you will also need the jar files included in the JAXB 
	<a href="https://jaxb.dev.java.net/">reference implementation</a>.
	The "JAXB" version is preferred. Versions labeled "draft" are not considered stable.
	
	<p>
	<h3 id="documentation">Documentation</h3>
	<dl>
      <dt>On-line class descriptions for the parser collection.</dt>
      <dd>
      	<br>Classic versions (spase.parser.sim*): <a href="./api100">1.1.0</a>
      	<br>JAXB versions (org.spase.parser.sim*): <a href="./jaxb/api110">1.1.0</a>
 		</dd>
     </dl>
    
   <h3 id="application">Application</h3>
   <dl>
   	<dt>Jar files:</dt>
  		<dd>
  			<br>Classic versions (spase.parser.sim*):  
   		<a href="./parser-sim-100.jar">1.0.0</a>
   		<br>JAXB versions (org.spase.parser.sim*):
   		<a href="./spase-jaxb-parser-sim-110.jar">1.0.0</a>
   	</dd>
   	<dd><br> The jar files contain source, documentation and compiled classes that implement the parser.</dd>
   	<p>
   	<dt></dt><dd>After downloading the classic version the command:<br><br> 
   		<code>java spase.parser.sim{ver}.Description {xmlfil}</code> 
   		<br><br>will parse and display the contents of {xmlfile} using parser version {ver}. 
   		For example, possible values for {ver} is "100" for version 1.0.0.
   		<p>Note: The class files were compiled using JDK1.5 and the source code uses features found only in JDK1.5 and above.</dd>
   </dl>
   
   <h3 id="example">Example XML (Version 1.1.0 compliant)</h3>
   <dl>
   	<dt>None</dt>
    </dl>

</div>
