---
title: SPASE Deprecated IDs
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Listing of deprecated Resource-IDs</h1>
<div class='gradient_line_half'></div>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>

<p>&nbsp;</p>
<h3> The Resource IDs listed  in this document are deprecated and are no longer in use.<br />
  In some cases the Resource ID was assigned in error and in other cases the resource no longer exists.</h3>
<p>&nbsp;</p>
<p>
spase://VEPO/NumericalData/NeutronMonitor/Climax_Huancayo_Haleakala/P1D<br />
spase://VEPO/NumericalData/NeutronMonitor/Climax_Huancayo_Haleakala/P27D<br />
spase://VEPO/NumericalData/NeutronMonitor/Haleakala/PT1H<br />
spase://ViRBO/NumericalData/RBSP/B/ECT/PRE/MAGEISHIGH-L2/<br />
spase://ViRBO/NumericalData/RBSP/B/ECT/PRE/MAGEISLOW-L2/<br />
spase://ViRBO/NumericalData/RBSP/B/ECT/PRE/MAGEISM35-L2/<br />
spase://ViRBO/NumericalData/RBSP/B/ECT/PRE/MAGEISM75-L2/<br />
spase://ViRBO/NumericalData/RBSP/B/ECT/PRE/REPT-SW-L2/PT.001S<br />
spase://ViRBO/NumericalData/RBSP/B/ECT/REPT-SW-L2/PT.001S<br />
</p>
</div>
</section>
</article>
</section>
</div>


<div class='clear'></div>
</div>
