---
title: SPASE Services
---

<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Services</h1>
<div class='gradient_line_half'></div>

<p>SPASE Resource IDs are assigned by naming authorities. In a global system naming authorities must be unique. SPASE maintains the list of 
naming authorities used in our community. SPASE also administraters the metadata registry containing descriptions common entities.
This are available on Github and through the SPASE SMWG registry. SPASE also maintains a registry for the Heliophysics Data Environment (HPDE).
</p>
</header>

</p>
<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
<h2>Naming Authorities</h2>
  <p>
  SPASE maintains a list of naming authorities who use the "spase" scheme in resource IDs. 
	A SPASE Resource ID is a URI and has the general form of
  </p>
	<pre class="code">spase://authority/path</pre>
  </p>
  <p>
	To ensure global uniqueness of SPASE Resource IDs a naming authority must register a unique 
	name with the SPASE group. 
  </p>
  <p>
	To become a naming authority and register your naming authority name with SPASE contact Todd King (<a href=mailto:tking@igpp.ucla.edu>tking@igpp.ucla.edu</a>)
  </p>
  <p>
	<a href="naming-authority.html">Current list of naming authorities</a>
  </p>

<h2>Metadata Repositories</h2>
	<p>
  Each naming authority has a repository (currently on <a href="https://github.com/hpde">GitHub</a>) where SPASE descriptions are collected.
  The repositories are maintained under the Heliophysics Data Environment (HPDE) organization which is located at:
  </p>
  <p>
  <a href="https://github.com/hpde">https://github.com/hpde</a>
  </p>
  <p>
	All naming authority repositories in the HPDE GitHub undergo quality assurance checks which includes nformation model conformance (validation) and 
  referential checks (links and SPASE ResourceI ID references) using the <a href="https://spase-group.org/tools/resource/index.html">SPASE resource toolkit</a>
  </p>
   
<h2>Landing Pages</h2>
	<p>
	SPASE generates formatted web pages for every SPASE description in the naming authority repositories. 
  These can serve as <a href="https://hpde.io">landing pages</a> for a DOI assigned to the data or document. The landing pages are at:
  </p>
  <p>
	<a href="https://hpde.io/">https://hpde.io/</a>
  </p>
  <p>
  The landing page web site allow you to navigate to a particular landing page by clicking on a set of menus. You can also get directly to 
  a landing page for a SPASE description by replacing the "spase://" in the resource ID with "https://hpde.io/".
</p>

</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Related Items</h2>
<ul class='side_nav'>
	<li><a target="_blank" href="https://github.com/hpde/SMWG">SMWG Metadata Repository <i class="fa fa-external-link"></i></a></li>
	<li><a target="_blank" href="https://github.com/hpde">HPDE Metadata Repository <i class="fa fa-external-link"></i></a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>