---
title: SPASE Services
---

<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Services</h1>
<div class='gradient_line_half'></div>

<p>SPASE Resource IDs are assigned by naming authorities. In a global system naming authorities must be unique. SPASE maintains the list of naming authorities used in our community. SPASE also administraters the metadata registry containing descriptions common entities.This are available on Github and through the SPASE SMWG registry. SPASE also maintains a registry for the Heliophysics Data Environment (HPDE).</header>
</p>
<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
<h2>Naming Authorities</h2>
<p>SPASE maintains a list of naming authorities who use the "spase" scheme in resource IDs. 
	A SPASE Resource ID is a URI and has the general form of
	<pre class="code">spase://authority/path</pre>
	To ensure global uniqueness of SPASE Resource IDs a naming authority must resource a unique 
	name with the SPASE group. 
	To become a naming authority and register your naming authority name with SPASE contact Todd King (<a href=mailto:tking@igpp.ucla.edu>tking@igpp.ucla.edu</a>)
</p>
<p>
	<a href="naming-authority.html">Current list of naming authorities</a>
</p>
<h2>SMWG Registry</h2>
	<p>
	The SPASE Metadata Working Group (SMWG) administrators the metadata registry containing
	descriptions common entities. This includes descriptions of observatories, instruments, persons,
	registries and services. These descriptions are typically referenced by descriptions of digital resources
	such as numerical data, display data and catalogs. The SPASE descriptions are maintained in the metadata 
	repository managed as a Github project at: <a href="https://github.com/hpde/spase-SMWG">https://github.com/hpde/spase-SMWG</a>
   </p>
	<p>
	SMWG Registry <a href="https://hpde.io/SMWG">https://hpde.io/SMWG</a>
</p>
<h2>HPDE Registry</h2>
	<p>
	SPASE hosts a registry service to provided access to descriptions of the resources in the Heliophysics Data Environment (HPDE). The SPASE descriptions included in the HPDE registry are from all the naming authority repositories maintain on Github at <a href="https://github.com/hpde">https://github.com/hpde</a>
   </p>
	<p>
	HPDE Registry <a href="https://hpde.io/">http://hpde.io/</a>
</p>

</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Related Items</h2>
<ul class='side_nav'>
	<li><a target="_blank" href="https://github.com/hpde/SMWG">SMWG Metadata Repository <i class="fa fa-external-link"></i></a></li>
	<li><a target="_blank" href="https://github.com/hpde">HPDE Metadata Repository <i class="fa fa-external-link"></i></a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>