---
title: SPASE Naming Authority
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Naming Authorities</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
<p>
The naming authority of a resource is generally the entity, agency, or organization that commissioned the
creation of the resource. Very often, though not always, the entity that sponsored the creation of the
resource, i.e., its funding agency, serves also as the naming authority of the resource. A naming authority
is therefore the entity to which a resource described by a SPASE document (having a SPASE Resource ID and
a DOI reference) is attributed. For this reason, naming authorities can be used conveniently to organize
SPASE metadata. Each naming authority (or their designated representative) is therefore responsible for creating and maintaining their SPASE resources registered on the SPASE registry, including the Person resources within their own repository even though Person resources are not commissioned in general. To avoid duplications of Person descriptions, however, the SMWG has been made available as a Naming Authority for hosting Person resources that can be collectively and cooperatively maintained.
</p>
<p>
In support of resource sharing, SPASE resource descriptions should be made publicly available and shared
from a registry through either a repository or a service. The preferred method is a publicly accessible
<a href="https://git-scm.com/">git</a> repository. Convenient git hosting services 
include <a href="https://github.com/">GitHub</a> and (for self-hosting) <a href="https://gitlab.com/">GitLab</a>. 
Each naming authority should correspond to a "Repository" of resources. The SPASE ID for this Repository must
be "spase://{NA}/Repository/metadata" where {NA} is replaced with the naming authority name. For example,
the NASA repository will have a Repository resource description with the SPASE Resource ID of:
</p>
<p>
<dd>
spase://NASA/Repository/metadata
</dd>
</p>

<h2>Rules for Assigning a Naming Authority</h2>
<p>
The naming authority of a resource should be assigned at the highest, most appropriate level of entity to
which the commissioning or origination of the resource can be attributed. For example, it could be at the
national agency level like it is for the "NASA" naming authority. Or in the case of a conglomerate entity,
it could be at the highest project level like it is for "IUGONET". The SPASE Group has devised an order of
priority when assigning a naming authority, as follows:
</p>
<ol>
<li>Major oversight/funding agency (CNES, ESA, JAXA, NASA, NOAA, NSF,…etc.) for resources from missions, observatories, instruments or investigations that fall well within an agency management;</li>
<li>Agencies or organizations that jointly commissioned a resource with their acronyms listed in the order specified by the agencies in agreement and separated by hyphens;</li>
<li>Overall long-term project name (e.g., ISWI, GONG, IUGONET, Nançay,…etc.) when an infrastructure-like project receives multiple sponsorships or has multiple partners that are separately funded.</li>
<li>Instrument PI institution if none of the above applies.</li>
<li>SMWG will continue to be the Naming Authority for Person resources, which are generally not commissioned by any entity.</li>
</section>
<hr/>
<section class='article_body'>
<div class='wysiwyg_content'>
<h2>List of naming authorities</h2> [ <a href="naming-authority.csv">CSV</a> ] [ <a href="naming-authority.json">JSON</a> ]
<p>
		<dd>
			<table>
				<tr><th>Authority</th><th>Description</th></tr>
<tr><td valign="top">ASWS</td><td>Australian Space Weather Services<br>
				Assigns resource IDs for data registered in the Australian Space Weather Services (ASWS).<br>
				Website: <a class="ext" href=" http://www.sws.bom.gov.au/World_Data_Centre">http://www.sws.bom.gov.au/World_Data_Centre</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/ASWS">https://github.com/hpde/ASWS</a>
				</td></tr>
<tr><td valign="top">CCMC</td><td>Community Coordinated Modeling Center<br>
				Assigns resource IDs for data available from the Community Coordinated Modeling Center (CCMC).<br>
				Website: <a class="ext" href=" http://ccmc.gsfc.nasa.gov/">http://ccmc.gsfc.nasa.gov/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/CCMC">https://github.com/hpde/CCMC</a>
				</td></tr>
<tr><td valign="top">CFA</td><td>The Center for Astrophysics of Harvard & Smithsonian<br>
				Assigns resource IDs for data registered in the The Center for Astrophysics of Harvard & Smithsonian (CFA).<br>
				Website: <a class="ext" href=" https://www.harvard.edu/">https://www.harvard.edu/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/CFA">https://github.com/hpde/CFA</a>
				</td></tr>
<tr><td valign="top">CNES</td><td>Centre National d'Etudes Spatiales<br>
				Assigns resource IDs for data available from the Centre National d'Etudes Spatiales (CNES).<br>
				Website: <a class="ext" href=" https://cnes.fr/en">https://cnes.fr/en</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/CNES">https://github.com/hpde/CNES</a>
				</td></tr>
<tr><td valign="top">CSA</td><td>Canadian Space Agency<br>
				Assigns resource IDs for data registered in the Canadian Space Agency (CSA).<br>
				Website: <a class="ext" href=" https://www.asc-csa.gc.ca/">https://www.asc-csa.gc.ca/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/CSA">https://github.com/hpde/CSA</a>
				</td></tr>
<tr><td valign="top">CSSDP</td><td>Canadian Space Science Data Portal<br>
				Assigns resource IDs for data registered in the Canadian Space Science Data Portal (CSSDP).<br>
				Website: <a class="ext" href=" http://www.cssdp.ca/">http://www.cssdp.ca/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/CSSDP">https://github.com/hpde/CSSDP</a>
				</td></tr>
<tr><td valign="top">DLR</td><td>Deutsches Zentrum für Luft- und Raumfahrt<br>
				Assigns resource IDs for data registered in the Deutsches Zentrum für Luft- und Raumfahrt (DLR).<br>
				Website: <a class="ext" href=" https://www.dlr.de/">https://www.dlr.de/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/DLR">https://github.com/hpde/DLR</a>
				</td></tr>
<tr><td valign="top">DOD</td><td>Department of Defense<br>
				Assigns resource IDs for data registered in the Department of Defense (DOD).<br>
				Website: <a class="ext" href=" https://www.dlr.de/">https://www.dlr.de/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/DOD">https://github.com/hpde/DOD</a>
				</td></tr>
<tr><td valign="top">ESA</td><td>European Space Agency<br>
				Assigns resource IDs for data available from the European Space Agency (ESA).<br>
				Website: <a class="ext" href=" http://www.esa.int/ESA">http://www.esa.int/ESA</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/ESA">https://github.com/hpde/ESA</a>
				</td></tr>
<tr><td valign="top">FMI</td><td>Finnish Meteorlogical Institute<br>
				Assigns resource IDs for data available from the Finnish Meteorlogical Institute (FMI) Space and Earth Observation Centre.<br>
				Website: <a class="ext" href=" https://space.fmi.fi/">https://space.fmi.fi/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/FMI">https://github.com/hpde/FMI</a>
				</td></tr>
<tr><td valign="top">GBO</td><td>Ground Based Observatories<br>
				Assigns resource IDs for data available from the ground based observatories (GBO).<br>
				Website: <a class="ext" href=" http://vspo.gsfc.nasa.gov">http://vspo.gsfc.nasa.gov</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/GBO">https://github.com/hpde/GBO</a>
				</td></tr>
<tr><td valign="top">GMU</td><td>George Mason University<br>
				Assigns resource IDs for data available from George Mason University.<br>
				Website: <a class="ext" href=" http://solar.gmu.edu/heliophysics">http://solar.gmu.edu/heliophysics</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/GMU">https://github.com/hpde/GMU</a>
				</td></tr>
<tr><td valign="top">GONG</td><td>Global Oscillation Network Group<br>
				Assigns resource IDs for data available from the Global Oscillation Network Group (GONG).<br>
				Website: <a class="ext" href=" https://gong.nso.edu/">https://gong.nso.edu/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/GONG">https://github.com/hpde/GONG</a>
				</td></tr>
<tr><td valign="top">INAF</td><td>Istituto Nazionale Di Astrofisica<br>
				Assigns resource IDs for data available from the Istituto Nazionale Di Astrofisica (INAF).<br>
				Website: <a class="ext" href=" http://www.inaf.it/">http://www.inaf.it/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/INAF">https://github.com/hpde/INAF</a>
				</td></tr>
<tr><td valign="top">INSU</td><td>Institut national des sciences de l'Univers<br>
				Assigns resource IDs for data available from the Institut national des sciences de l'Univers (INSU).<br>
				Website: <a class="ext" href=" https://www.insu.cnrs.fr/">https://www.insu.cnrs.fr/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/INSU">https://github.com/hpde/INSU</a>
				</td></tr>
<tr><td valign="top">IRF</td><td>Swedish institute for space physics<br>
				Assigns resource IDs for data available from Swedish institute for space physics(IRF).<br>
				Website: <a class="ext" href=" https://www.irf.se/">https://www.irf.se/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/IRF">https://github.com/hpde/IRF</a>
				</td></tr>
<tr><td valign="top">ISWI</td><td>International Space Weather Initiative<br>
				Assigns resource IDs for data available from the International Space Weather Initiative (ISWI).<br>
				Website: <a class="ext" href=" http://www.iswi-secretariat.org/">http://www.iswi-secretariat.org/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/ISWI">https://github.com/hpde/ISWI</a>
				</td></tr>
<tr><td valign="top">IUGONET</td><td>Inter-university Upper atmosphere Global Observation NETwork<br>
				Assigns resource IDs for data available from the Inter-university Upper atmosphere Global Observation NETwork (IUGONET).<br>
				Website: <a class="ext" href=" http://www.iugonet.org/">http://www.iugonet.org/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/IUGONET">https://github.com/hpde/IUGONET</a>
				</td></tr>
<tr><td valign="top">JAXA</td><td>Japan Aerospace Exploration Agency<br>
				Assigns resource IDs for data available from the Japan Aerospace Exploration Agency (JAXA).<br>
				Website: <a class="ext" href=" http://global.jaxa.jp/">http://global.jaxa.jp/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/JAXA">https://github.com/hpde/JAXA</a>
				</td></tr>
<tr><td valign="top">KASI</td><td>Korean Astronomy and Space Science Institute<br>
				Assigns resource IDs for data available from the Korean Astronomy and Space Science Institute (KASI).<br>
				Website: <a class="ext" href=" https://www.kasi.re.kr/eng/index">https://www.kasi.re.kr/eng/index</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/KASI">https://github.com/hpde/KASI</a>
				</td></tr>
<tr><td valign="top">KSB-ROB</td><td>Royal Observatory of Belgium<br>
				SPASE resource descriptions with Royal Observatory of Belgium naming authority.<br>
				Website: <a class="ext" href=" https://www.astro.oma.be/en">https://www.astro.oma.be/en</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/KSB-ROB">https://github.com/hpde/KSB-ROB</a>
				</td></tr>
<tr><td valign="top">NASA</td><td>National Aeronautics and Space Administration<br>
				Assigns resource IDs for data generated through the National Aeronautics and Space Administration (NASA).<br>
				Website: <a class="ext" href=" https://nasa.gov/">https://nasa.gov/</a>
				Metadata Repository: <a class="ext" href=" https://github.com/hpde/NASA"> https://github.com/hpde/NASA</a>
				</td></tr>
<tr><td valign="top">NOAA</td><td>National Oceanic and Atmospheric Administration<br>
				Assigns resource IDs for data registered in National Oceanic and Atmospheric Administration (NOAA) data systems.<br>
				Website: <a class="ext" href=" http://www.nesdis.noaa.gov/">http://www.nesdis.noaa.gov/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/NOAA">https://github.com/hpde/NOAA</a>
				</td></tr>
<tr><td valign="top">NSF</td><td>National Science Foundation<br>
				Assigns resource IDs for data available from the National Science Foundation (NSF).<br>
				Website: <a class="ext" href=" https://www.nsf.gov/">https://www.nsf.gov/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/NSF">https://github.com/hpde/NSF</a>
				</td></tr>
<tr><td valign="top">NagoyaU</td><td>Nagoya University<br>
				Nagoya University is a Japanese national university located in Nagoya, Aichi prefecture, Japan.<br>
				Website: <a class="ext" href=" https://en.nagoya-u.ac.jp/">https://en.nagoya-u.ac.jp/</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/NagoyaU">https://github.com/hpde/NagoyaU</a>
				</td></tr>
<tr><td valign="top">SMWG</td><td>SPASE Metadata Working Group<br>
				The community location for entities such as persons, observatories, instruments, repositories, registries and services.<br>
				Website: <a class="ext" href=" http://www.spase-group.org/registry">http://www.spase-group.org/registry</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/SMWG">https://github.com/hpde/SMWG</a>
				</td></tr>
<tr><td valign="top">UOULU</td><td>University of Oulu<br>
				Assigns resource IDs for data available from the University of Oulu (UOULU).<br>
				Website: <a class="ext" href=" http://www.spase-group.org/registry">http://www.spase-group.org/registry</a>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/UOULU">https://github.com/hpde/UOULU</a>
				</td></tr>
		</table>			
	</dd>
</p>

<p>The following naming authorities are deprecated and should not be used when creating new resource desciprtions:</p>

<p>	
	<dd>
		<table>
			<tr><th>Authority</th><th>Description</th></tr>
				
			<tr><td >VEPO</td><td>Virtual Energetic Particle Observatory (VEPO).<br>
			<a class="ext" href="http://vepo.gsfc.nasa.gov/">http://vepo.gsfc.nasa.gov/</a>
			</td></tr>
			
			<tr><td >ViRBO</td><td>Virtual Radiation Belt Observatory (ViRBO).<br>
			<a class="ext" href="http://vmo.nasa.gov">http://vmo.nasa.gov</a>
			</td></tr>
			
			<tr><td >VITMO</td><td>Virtual Ionosphere, Thermosphere, Mesosphere Observatory (VITMO).<br>
			<a class="ext" href="http://vitmo.jhuapl.edu/">http://vitmo.jhuapl.edu/</a>
			</td></tr>
			
			<tr><td >VMO</td><td>Virtual Magnetosphere Observatory (VMO).<br>
			<a class="ext" href="http://vmo.nasa.gov">http://vmo.nasa.gov</a>
			</td></tr>
			
			<tr><td >VSO</td><td>Virtual Solar Observatory (VSO).<br>
			<a class="ext" href="http://sdac.virtualsolar.org/">http://sdac.virtualsolar.org/</a>
			</td></tr>
			
			<tr><td >VSPO</td><td>Virtual Solar Physics (VSPO).<br>
			<a class="ext" href="https://vspo.gsfc.nasa.gov/">https://vspo.gsfc.nasa.gov/</a>
			</td></tr>
			
			<tr><td >VWO</td><td>Virtual Wave Observatory (VWO).<br>
			<a class="ext" href="http://vwo.nasa.gov">http://vwo.nasa.gov</a>
			</td></tr>
		</table>
	</dd>
</p>


</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Related Items</h2>
<ul class='side_nav'>
	<li><a href="https://github.com/hpde/spase-SMWG">SMWG Metadata Repository <i class="fa fa-external-link"></i></a></li>
	<li><a target="_blank" href="https://github.com/hapi-server/data-specification">HAPI Data Server <i class='fa fa-external-link'></i></a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>
