---
title: SPASE Naming Authority
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Naming Authorities</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
<p>
	Current list of naming authorities:
		<dd>
			<table>
				<tr><th>Authority</th><th>Description</th></tr>
				<tr><td valign="top">ASWS</td><td>Australian Space Weather Services (ASWS)<br>
				Assigns resource IDs for data registered in the Australian Space Weather Services (ASWS).<br>
				Website: <a class="ext" href=" http://www.sws.bom.gov.au/World_Data_Centre"> http://www.sws.bom.gov.au/World_Data_Centre</a>
				</td></tr>
					
				<tr><td  valign="top">CCMC</td><td>Community Coordinated Modeling Center (CCMC)<br>
				Assigns resource IDs for data available from the Community Coordinated Modeling Center (CCMC).<br>
				Website: <a class="ext" href="http://ccmc.gsfc.nasa.gov/">http://ccmc.gsfc.nasa.gov/</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/CCMC">https://github.com/hpde/CCMC</a>
				</td></tr>
					
				<tr><td  valign="top">CNES</td><td>Centre National d'Etudes Spatiales<br>
				Assigns resource IDs for data available from the Centre National d'Etudes Spatiales (CNES).<br>
				Website: <a class="ext" href="https://cnes.fr/en">https://cnes.fr/en</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/CNES">https://github.com/hpde/CNES</a>
				</td></tr>
					
				<tr><td  valign="top">CSSDP</td><td>Canadian Space Science Data Portal (CSSDP)<br>
				Assigns resource IDs for data registered in the Canadian Space Science Data Portal (CSSDP).<br>
				Website: <a class="ext" href="http://www.cssdp.ca/">http://www.cssdp.ca/</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/CSSDP">https://github.com/hpde/CSSDP</a>
				</td></tr>
					
				<tr><td  valign="top">DLR</td><td>Deutsches Zentrum für Luft- und Raumfahrt (DLR)<br>
				Assigns resource IDs for data registered in the Deutsches Zentrum für Luft- und Raumfahrt (DLR).<br>
				Website: <a class="ext" href="http://www.cssdp.ca/">https://www.dlr.de/</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/DLR">https://github.com/hpde/DLR</a>
				</td></tr>
					
				<tr><td  valign="top">ESA</td><td>European Space Agency (ESA)<br>
				Assigns resource IDs for data available from the European Space Agency (ESA)<br>
				Website: <a class="ext" href="http://www.esa.int/ESA">http://www.esa.int/ESA</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/ESA">https://github.com/hpde/ESA</a>
				</td></tr>
					
				<tr><td  valign="top">ISWI</td><td>International Space Weather Initiative (ISWI)<br>
				Assigns resource IDs for data available from the International Space Weather Initiative (ISWI).<br>
				Website: <a class="ext" href="http://www.iswi-secretariat.org/">http://www.iswi-secretariat.org/</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/ISWI">https://github.com/hpde/ISWI</a>
				</td></tr>
					
				<tr><td  valign="top">GBO</td><td>Ground Based Observatories (GBO)<br>
				Assigns resource IDs for data available from the ground based observatories (GBO).<br>
				Website: <a class="ext" href="http://vspo.gsfc.nasa.gov">http://vspo.gsfc.nasa.gov</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/GBO">https://github.com/hpde/GBO</a>
				</td></tr>
					
				<tr><td  valign="top">JAXA</td><td>Japan Aerospace Exploration Agency (JAXA)<br>
				Assigns resource IDs for data available from the Japan Aerospace Exploration Agency (JAXA).<br>
				Website: <a class="ext" href="http://global.jaxa.jp/">http://global.jaxa.jp/</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/JAXA">https://github.com/hpde/JAXA</a>
				</td></tr>
					
				<tr><td  valign="top">NASA</td><td>National Aeronautics and Space Administration (NASA)<br>
				Assigns resource IDs for data generated through the National Aeronautics and Space Administration (NASA).<br>
				Website: <a class="ext" href="https://nasa.gov/">https://nasa.gov/</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/NASA">https://github.com/hpde/NASA</a>
				</td></tr>
					
				<tr><td  valign="top">NOAA</td><td>National Oceanic and Atmospheric Administration (NOAA)<br>
				Assigns resource IDs for data registered in National Oceanic and Atmospheric Administration (NOAA) data systems.<br>
				Website: <a class="ext" href="http://www.nesdis.noaa.gov/">http://www.nesdis.noaa.gov/</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/NOAA">https://github.com/hpde/NOAA</a>
				</td></tr>
					
				<tr><td  valign="top">NSF</td><td>National Science Foundation (NSF)<br>
				Assigns resource IDs for data available from the National Science Foundation (NSF)<br>
				Website: <a class="ext" href="https://www.nsf.gov/">https://www.nsf.gov/</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/NSF">https://github.com/hpde/NSF</a>
				</td></tr>
					
				<tr><td  valign="top">SMWG</td><td>SPASE Metadata Working Group (SMWG)<br>
				The community location for entities such as persons, observatories, instruments, repositories, registries and services.<br>
				Website: <a class="ext" href="http://www.spase-group.org/registry">http://www.spase-group.org/registry</a><br>
				Metadata Repository: <a class="ext" href="https://github.com/hpde/spase-SMWG">https://github.com/hpde/spase-SMWG</a>
				</td></tr>
		</table>			
	</dd>
</p>
	
<p>The following naming authorities are deprecated and should not be used when creating new resource desciprtions:</p>

<p>	
	<dd>
		<table>
			<tr><th>Authority</th><th>Description</th></tr>
				
			<tr><td >VEPO</td><td>Virtual Energetic Particle Observatory (VEPO).<br>
			<a class="ext" href="http://vepo.gsfc.nasa.gov/">http://vepo.gsfc.nasa.gov/</a>
			</td></tr>
			
			<tr><td >ViRBO</td><td>Virtual Radiation Belt Observatory (ViRBO).<br>
			<a class="ext" href="http://vmo.nasa.gov">http://vmo.nasa.gov</a>
			</td></tr>
			
			<tr><td >VITMO</td><td>Virtual Ionosphere, Thermosphere, Mesosphere Observatory (VITMO).<br>
			<a class="ext" href="http://vitmo.jhuapl.edu/">http://vitmo.jhuapl.edu/</a>
			</td></tr>
			
			<tr><td >VMO</td><td>Virtual Magnetosphere Observatory (VMO).<br>
			<a class="ext" href="http://vmo.nasa.gov">http://vmo.nasa.gov</a>
			</td></tr>
			
			<tr><td >VSO</td><td>Virtual Solar Observatory (VSO).<br>
			<a class="ext" href="http://sdac.virtualsolar.org/">http://sdac.virtualsolar.org/</a>
			</td></tr>
			
			<tr><td >VSPO</td><td>Virtual Solar Physics (VSPO).<br>
			<a class="ext" href="https://vspo.gsfc.nasa.gov/">https://vspo.gsfc.nasa.gov/</a>
			</td></tr>
			
			<tr><td >VWO</td><td>Virtual Wave Observatory (VWO).<br>
			<a class="ext" href="http://vwo.nasa.gov">http://vwo.nasa.gov</a>
			</td></tr>
		</table>
	</dd>
</p>


</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Related Items</h2>
<ul class='side_nav'>
	<li><a href="https://github.com/hpde/spase-SMWG">SMWG Metadata Repository <i class="fa fa-external-link"></i></a></li>
	<li><a target="_blank" href="https://github.com/hapi-server/data-specification">HAPI Data Server <i class='fa fa-external-link'></i></a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>