---
title: SPASE Tools
---

<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Tools</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
<p>Reference implementations and tools for working with SPASE metadata and the SPASE framework.</p>

<dl>
	<dt id="viewer"><b>Viewer</b></dt>
		<dd>SPASE description viewer.<br><br>
   		<dl>
   			<dt><a href="viewer/index.html">Viewer</a></dt>
   			<dd>View local files in a browser based SPASE description viewer. Drag and drop files into the page to view a formatted version of the SPASE XML files</dd>
   		</dl>
		</dd> 

	<dt id="validator"><b>Validator</b></dt>
		<dd>Determines compliance with SPASE data model.<br><br>
   		<dl>
   			<dt><a href="https://spase-validator.heliocloud.org/">XML Validate</a></dt>
   			<dd>Test a web accessible SPASE description against a selected version of the data dictionary.</dd>
   		</dl>
		</dd> 


	<dt id="editor"><b>Editor</b></dt>
		<dd><b>Web-based Editors</b><br><br>
   		<dl>
   			<dt><a href="editor/index.html">Web Editor</a></dt>
   			<dd>The web SPASE XML editor can be used to create or alter SPASE XML descriptions.</dd> 
   		</dl>
		</dd>
	
	<dt id="resource"><b>Resource Tools</b></dt>
		<dd>Collections of tools and applications for working with resource descriptions<br><br>
   		<dl>
   			<dt><a href="resource/index.html">SPASE Resource Tools</a></dt>
   			<dd>A set of command-line applications to generate, validate, referentially check, use and organize resource descriptions written in SPASE XML.</dd>
   		</dl>
		</dd> 
		
	<dt id="registry"><b>Registry</b></dt>
		<dd>Services to delivery SPASE metadata.<br><br>
			<dl>
			<dt><a href="registry/index.html">SPASE Registry Server</a></dt>
			   <dd>
				The SPASE Registry Server is a java application which can harvest resource descriptions 
				expressed in SPASE XML and provide a search service for the descriptions. It can also chain 
				to other registry servers and aggregate all results, returning all matches in a self-organized network 
				of registry servers. It can be run as either a servlet or bean.
				
				The Registry Server includes a graphical tree based interface to the registries. 
				The application calls the "resolver" service to populate and navigate through the tree.
			</dd> 
			</dl>
		</dd>
</dl>

</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Related Items</h2>
<ul class='side_nav'>
	<li><a href="./stylesheet/index.html">XML Stylesheets</a></li>
</ul>
</div>
</aside>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Commonly Used Tools</h2>
<ul class='side_nav'>
	<li><a href="editor/index.html">Metadata Editor</a></li>
	<li><a href="https://spase-validator.heliocloud.org/">Metadata Validator</a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>
