---
title: SPASE Base Model 2.2.0
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>SPASE Base Model 2.2.0</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>

{{#with baseModelVersions }}
<h1 class="page_title">Documentation Unavailable</h1>
<p>This version (2.2.0) of the SPASE base model does not have documentation available. The closest match to this version is version 2.2.1</p>

<p>When creating new metadata please use the most recent version ({{current.version}}).</p>

</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>
Related Items
</h2>
<ul class='side_nav'>
	<li><a href="../spase-2.2.1/index.html">Version 2.2.1</a></li>
	<li><a href="../spase-{{current.version}}/index.html">Version {{current.version}}</a></li>
</ul>
</div>
</aside>

</div>
{{/with}}

<div class='clear'></div>
</div>
