---
title: SPASE Documents
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Documents</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
<p>
   The documentation you'll find here are for understanding, using and creating SPASE 
   resource descriptions and services. They are mostly conventions that the SPASE community 
   have endorsed which have proven to be useful in adopting the SPASE data model.
   </p>
<p>
Additional information on using SPASE metadata and tools can be found at the <a href="https://school.spase-group.org/">SPASE School</a>.
</p>

<h2>Conventions</h2>
<dl>
	<dt><a href="conventions/SPASE-Parameter-Key-Formation-Plain-Text-Data-v1.pdf">Parameter Key Formation for Plain Text Data</a><dt>
      <dd>Describes Parameter Key formation rules for describing simple tabular plain text files.</dd>
	<dt><a href="conventions/SPASE-Data-Model-Version-Numbers-v2.pdf">Data Model Version Numbers</a><dt>
      <dd>Describes how versions numbers are assigned to each instance of the SPASE Data Model.</dd>
	<dt><a href="conventions/Resource-ID-Formation-Rule-v5.pdf">Resource ID Formation Rule</a><dt>
      <dd>A common convention for the formation of resource identifiers used in a SPASE resource description.</dd>
	<dt><a href="conventions/Text-Normalization-and-Mark-up-v1.pdf">Text Normalization and Mark-up</a><dt>
      <dd>Describe how to normalize and mark-up text in a SPASE resource description to define a desired layout or format.</dd>
	<dt><a href="conventions/HP-Event-List-Specification.pdf">Heliophysics Event List (Catalogue) Format</a><dt>
      <dd>Describes the Heliophysics Event List format which is a plain text data format with metadata embedded in comments.<br/>
		<a href="conventions/sector_boundary_events_std.txt">Text Example</a> 
		- <a href="conventions/sector_boundary_events_std.xml">VOTable Example</a></dd>
	<dt><a href="conventions/uri_templates_v1.pdf">URI Template Standard</a></dt>
		<dd>A specification for special fields which can be included in a URI to capture the file and directory naming 
		conventions used to access data and images.</dd>
</dl>

<h2>Publications</h2>
<p>When citing SPASE or the SPASE Information Models please use the following reference:</p>
<dl>
  <dd>Roberts, D. A., Thieman, J., Génot, V., King, T., Gangloff, M., Perry, C., et al. (2018). 
  The SPASE data model: A metadata standard for registering, finding, accessing, and using Heliophysics data obtained from observations and modeling. 
  Space Weather, 16, 1899– 1911. https://doi.org/10.1029/2018SW002038</dd>
</dl>

<h3>Select and Most Relevant</h3>
<dl>
	<dt>2010, Todd King, James Thieman, D Aaron Roberts</dt>
      <dd><a href="publications/2010-King-SPASE-2.0.pdf">SPASE 2.0: a standard data model for space physics</a></dd>
      <dd>Earth Sci Inform 3, 67–73 (2010). https://doi.org/10.1007/s12145-010-0053-4</dd>
	<dt>2016, Todd A King, Michel Gangloff, James Thieman, D Aaron Roberts, Darren De Zeeuw</dt>
      <dd><a href="publications/2016-King-Enhancements-to-the-SPASE-Metadata-Standard-poster-v1.pdf">Enhancements to the SPASE Metadata Standard: Simulations and Tools</a></dd>
      <dd>SPASE presentation at AGU Fall Meeting, Dec 2016</dd>
	<dt>2018, D Aaron Roberts, James Thieman, Vincent Génot, Todd King, Michel Gangloff, et al</dt> 
      <dd><a href="https://agupubs.onlinelibrary.wiley.com/doi/epdf/10.1029/2018SW002038">The SPASE Data Model: A Metadata Standard for Registering, Finding, Accessing, and Using Heliophysics Data Obtained From Observations and Modeling</a></dd>
      <dd>Space Weather, Volume16, Issue12, Pages 1899-1911, December 2018</dd>
	<dt>2021, Lee Bargatze, Todd King, D. Aaron Roberts, Shing Fung</dt>
      <dd><a href="https://ui.adsabs.harvard.edu/abs/2021cosp...43E2380B/abstract">Spase Physics Archive Search and Extract (SPASE) the COSPAR Standard for describing Heliophysics Data Products</a></dd>
      <dd>43rd COSPAR Scientific Assembly. Held 28 January - 4 February, 2021. Abstract PSW.4-0002-21 (oral), id.2380.</dd>
</dl>

<h3>Early Presentations</h3>
<dl>
	<dt>2003, Joe King, Jim Thieman, Todd King</dt>
      <dd><a href="publications/2003-Thieman-030326.pdf">SPASE and the Space Physics Data Dictionary</a></dd>
      <dd>SPASE presentation before the SECDC Working Group committee. March 26, 2003</dd>
	<dt>2003, Walker and the SPASE Consortium</dt>
      <dd><a href="publications/2003-Walker-041003.pdf">Toward Interoperability for Space Physics Data: The Problem and an Approach to the Solution</a></dd>
      <dd>SPASE presentation at the EGS, AGU and EUG meeting in Nice, France. April 10, 2003</dd>
	<dt>2005, Jim Thieman, et al</dt>
      <dd><a href="publications/2005-Thieman-11222005.pdf">The Space Physics Archive Search and Extract (SPASE) and the Virtual Space Physics Observatory (VSPO)</a></dd>
      <dd>Pre-1.0.0 release presentation regarding the SPASE group and the SPASE information model. Nov 22, 2005</dd>
	<dt>2006, C.C. Harvey, M. Gangloff, C. Jacquey, J.R. Thieman, D.A. Roberts, T. King</dt>
      <dd><a href="publications/2006-Harvey-ESWW3_V4.pdf">Recent developments towards a Solar System Virtual Observatory</a></dd>
      <dd>SPASE presentation at Third European Space Weather Week, Brussels, Nov 13-17, 2006</dd>
	<dt>2008, Todd King, Jim Thieman, D. Aaron Roberts</dt>
      <dd><a href="publications/2008-King-Introduction-to-SPASE.pdf">The SPASE Metadata Model: Standard Metadata for Space Science Data Description</a></dd>
      <dd>An introduction to the SPASE information model. First presented approx. 2008</dd>
</dl>


<h2>Deprecated IDs</h2>
<p>
The original naming authorities were organized by discipline. For example, VMO represented the Virtual Magnetospheric Observatory. 
Over time, naming authorities were migrated to agency names. For example, VSPO became NASA. 
</p>
<p>
For a complete complete list of naming authorities see <a href="{{assets}}/services/naming-authority.html">here</a>.
</p>
<p>
<a href="deprecated/index.html">List of deprecated IDs</a>
</p>
</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Data Model Documentation</h2>
<ul class='side_nav'>
	<li><a href="{{assets}}/data/model/index.html">Base Model</a></li>
	<li><a href="{{assets}}/data/simulation/index.html">Simulation Extensions</a></li>
</ul>
</div>
</aside>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>RELATED ITEMS</h2>
<ul class='side_nav'>
	<li><a href="http://validator.spase-group.org/">Metadata Validation</a></li>
	<li><a href="{{assets}}/tools/editor/index.html">Metadata Editor</a></li>
	<li><a target="_blank" href="http://release.igpp.ucla.edu/igpp/docgen/">Document Generator <i class='fa fa-external-link'></i></a></li>
	<li><a target="_blank" href="https://github.com/hpde">Metadata Repository <i class='fa fa-external-link'></i></a></li>
	<li><a target="_blank" href="https://github.com/hapi-server/data-specification">HAPI Data Server <i class='fa fa-external-link'></i></a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>
