---
title: SPASE Documents
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Documents</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
<p>
   The documentation you'll find here are for understanding, using and creating SPASE 
   resource descriptions and services. They are mostly conventions that the SPASE community 
   have endorsed which have proven to be useful in adopting the SPASE data model.
   </p>
<p>
Additional information on using SPASE metadata and tools can be found at the <a href="https://school.spase-group.org/">SPASE School</a>.
</p>

<h2>Conventions</h2>
<dl>
	<dt><a href="conventions/SPASE-Parameter-Key-Formation-Plain-Text-Data-v1.pdf">Parameter Key Formation for Plain Text Data</a><dt>
      <dd>Describes Parameter Key formation rules for describing simple tabular plain text files.</dd>
	<dt><a href="conventions/SPASE-Data-Model-Version-Numbers-v2.pdf">Data Model Version Numbers</a><dt>
      <dd>Describes how versions numbers are assigned to each instance of the SPASE Data Model.</dd>
	<dt><a href="conventions/Resource-ID-Formation-Rule-v4.pdf">Resource ID Formation Rule</a><dt>
      <dd>A common convention for the formation of resource identifiers used in a SPASE resource description.</dd>
	<dt><a href="conventions/Text-Normalization-and-Mark-up-v1.pdf">Text Normalization and Mark-up</a><dt>
      <dd>Describe how to normalize and mark-up text in a SPASE resource description to define a desired layout or format.</dd>
	<dt><a href="conventions/HDMC-Event-List-Specification-v1.0.3.pdf">Heliophysics Event List (Catalogue) Format</a><dt>
      <dd>Describes the Heliophysics Event List format which is a plain text data format with metadata embedded in comments.<br/>
<a href="conventions/sector_boundary_events_std.txt">Text Example</a> 
- <a href="conventions/sector_boundary_events_std.xml">VOTable Example</a></dd>
</dl>

<h2>Deprecated IDs</h2>
<p>
The original naming authorities were organized by discipline. For example, VMO represented the Virtual Magnetospheric Observatory. 
Over time, naming authorities were migrated to agency names. For example, VSPO became NASA. 
</p>
<p>
For a complete complete list of naming authorities see <a href="{{assets}}/services/naming-authority.html">here</a>.
</p>
<p>
<a href="deprecated/index.html">List of deprecated IDs</a>
</p>

</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Data Model Documentation</h2>
<ul class='side_nav'>
	<li><a href="{{assets}}/data/model/index.html">Base Model</a></li>
	<li><a href="{{assets}}/data/simulation/index.html">Simulation Extensions</a></li>
</ul>
</div>
</aside>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>RELATED ITEMS</h2>
<ul class='side_nav'>
	<li><a href="http://spase-group.org/tools/validate/">Validation</a></li>
	<li><a href="{{assets}}/tools/editor/index.html">Metadata Editor</a></li>
	<li><a target="_blank" href="http://release.igpp.ucla.edu/igpp/docgen/">Document Generator <i class='fa fa-external-link'></i></a></li>
	<li><a target="_blank" href="https://github.com/hpde">Metadata Repository <i class='fa fa-external-link'></i></a></li>
	<li><a target="_blank" href="https://github.com/hapi-server/data-specification">HAPI Data Server <i class='fa fa-external-link'></i></a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>
