---
title: SPASE About Us
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>About</h1>
<div class='gradient_line_half'></div>
  	<p>
  		The Space Physics Archive Search and Extract (SPASE) consortium is an international community of 
  		scientists, specialists, information engineers and system designers who are endeavouring to
  		create a standards and services to enable the open exchange of Heliophysics data.
  	</p>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
<h2>Consortium Participants</h2>
<p>
Many people from a wide range of organizations have participated in the SPASE consortium. The origanizations include:
</p>	
<ul>
<li>Augsburg College</li>
<li>California Institute of Technology (CalTech)</li>
<li>Centre de Donn&egrave;es de la Physique des Plasmas (CDPP)</li>
<li>Istituto Nazionale di Astrofisica (INAF)</li>
<li>Japan Aerospace eXploration Agency (JAXA) - STP/Ehime</li>
<li>Japan's Inter-university Upper atmosphere Global Observation NETwork (IUGONET)</li>
<li>Jet Propulsion Laboratory (JPL)</li>
<li>John Hopkins University/Applied Physics Laboratory (JHU/APL)</li>
<li>George Mason University</li>
<li>Goddard Space Flight Center (GSFC)</li>
<li>National Aeronautics and Space Administration (NASA) HQ</li>
<li>National Oceanic and Atmospheric Administration (NOAA)</li>
<li>NOAA's National Geophysics Data Center (NGDC)</li>
<li>Rutherford Appleton Laboratory (RAL)</li>
<li>Stanford University</li>
<li>Southwest Research Institute (SwRI)</li>
<li>University of California, Los Angeles (UCLA)</li>
</ul>

<h2> History</h2>

<div class="topic">1998 - ISTP</div>
<div class="indent">
	The SPASE effort has its root in the data handling 
	session of the ISTP workshop held at RAL in 1998, when on 
	Sept 26 a resolution was passed calling on the "larger 
	data centers" to "do something" to make data more 
	accessible. 
</div>

<div class="topic">2001 - AISRP</div>
<div class="indent">
Early in 2001 a breadboard interoperability test bed was 
implemented between NSSDC and CDPP/CNES, and later that 
year, in response to an AO from NASA AISRP ROSS (Applied 
Information Systems Research Program, Research Opportunities 
in Space Science), a proposal entitled "A Space Physics 
Archive Search Engine (SPASE)" was submitted jointly by 
NSSDC, SwRI, RAL and CDPP. 
</div>

<div class="topic">2002 - Grassroots</div>
<div class="indent">
While this proposal was not funded a volunteer effort 
continued and attracted broader participation. It was 
recognized that a data model was needed to establish an 
"interlingua" to share resources across the entire space 
physics domain. The goals of this effort were defined in 
late 2002 and the new moniker of Space Physics Archive 
Search and Extract (SPASE) was adopted.
</div>

<div class="topic">2003 - Open Community - NASA LWS</div>
<div class="indent">
In 2003 the effort was organized as an international 
consortium with an open invitation for anyone in the 
community to participate. U.S. participants in SPASE were 
funded by NASA in July 2005 which helped accelerate the 
effort. 
</div>

<div class="topic">2005 - Release 1.0</div>
<div class="indent">
In release of the SPASE data model. November 22, 2005. 
</div>

<div class="topic">2006 - Release 1.1.0</div>
<div class="indent">
In response to community feedback, the data model was 
improved. In that same year NASA solicited proposals to establish 
thematic virtual observatories for the heliophysics 
community and SPASE was adopted as the metadata standard to 
enable interoperability. Released August 31, 2006.
</div>

<div class="topic">2007 - Release 1.2.0</div>
<div class="indent">
Based on feedback from the community and from the selected 
virtual observatories the data model was further refined and 
version 1.2.0 was released in May 22, 2007. 
</div>

<div class="topic">2009 - Release 2.0.0</div>
<div class="indent">
After a period of use in NASA's VxOs the model was 
streamlined and enhanced to support a wider range of 
resources. Released April 15, 2009.
</div>

<div class="topic">2010 - Release 2.1.0</div>
<div class="indent">
	Additions were made to support a wider range of phenomenom types
	and particle attributes. Some grammar changes were made, most important
	was changing "Qualifier" to "Component" which more accurately represented
	the concept. Released March 18, 2010
</div>

<div class="topic">2011 - Release 2.2.0</div>
<div class="indent">
	Added "Excel" as an allowed format, improved Render Hints, updated definitions,
	and added support for referencing resources in cloud storage. Additional terms 
	were included to improved the ability describe solar data. Released January 6, 2011.
</div>

<div class="topic">2011 - Release 2.2.1</div>
<div class="indent">
	Added "core", "halo", "strahl" and "superhalo" to the dictionary and to "Qualifier". 
	Released August 18, 2011.
</div>

<div class="topic">2014 - Simulation Extensions 1.0.0</div>
<div class="indent">
	Release the IMPEx developed Simulation Extensions. 
	Released May 19, 2014.
</div>

<div class="topic">2015 - Release 2.2.3</div>
<div class="indent">
	Fully integrated support for extensions.
	Released May 31, 2015.
</div>

<div class="topic">2018 - Release 2.3.0</div>
<div class="indent">
	Support for DOI and HAPI.
	Released May 31, 2018.
</div>

<div class="topic">2018 - Release 2.3.1</div>
<div class="indent">
	Support for wider range of wave and particle data types. 
	Released November 11, 2019.
</div>

<div class="topic">2020 - Release 2.3.2</div>
<div class="indent">
	Support for Instrument groups and wider range of roles for contacts.
	Released October 15, 2020.
</div>

</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Related Items</h2>
<ul class='side_nav'>
	<li><a href="{{assets}}/spase-inside.html">SPASE Inside</a></li>
	<li><a href="{{assets}}/connect.html">Connect With Us</a></li>
	<li><a href="{{assets}}/news.html">News</a></li>
</ul>
</div>
</aside>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Follow Us On</h2>
<ul class='side_nav'>
	<li><a target="_blank" href="https://twitter.com/SPASEOutreach">Twitter <i class="fa fa-external-link"></i></a></li>
	<li><a target="_blank" href="https://www.youtube.com/channel/UCavaXaU18ggJlVegr_M-hdw">Youtube Channel <i class="fa fa-external-link"></i></a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>