---
title: SPASE Connect With Us
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Connect With Us</h1>
<div class='gradient_line_half'></div>
  	<p>
  		The Space Physics Archive Search and Extract (SPASE) consortium is an international community of 
  		scientists, specialists, information engineers and system designers who are endeavouring to
  		create a standards and services to enable the open exchange of Heliophysics data.
  	</p>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>

   <h3 id="contents">Contents</h3>
   <ul id="toc" class="toc">
     <li class=""><a href="#Spase">SPASE Mailing Lists</a></li>
		<ul>
        <li><a href="#SPASE-General">General Discussions</a></li>
        <li><a href="#SMWT">SPASE Metadata Working Team</a></li>
        <li><a href="#SMWG">SPASE Metadata Working Group</a></li>
		</ul>
    </ul>

<h2 id="Spase">SPASE Mailing Lists</h2>
  	<p>
  		The primary form of communication for SPASE is through e-mail. To join a SPASE discussion simply subscribe to the appropriate mailing list. SPASE also has regular telecons which are announced through the SPASE general discussion mailing list.
  	</p>

<div class="indent">
  <h3 id="SPASE-General">SPASE General Discussions</h3>
    <p>
The main SPASE mailing is at:
<pre>
    <a href="https://groups.io/g/spase">spase@groups.io</a>
</pre>
To subscribe send an e-mail to <a href="mailto:spase+subscribe@groups.io">spase+subscribe@groups.io</a>

Anyone is welcome to join. This is also where data model changes are first posted. There is a telecon held about twice a month. The times are announced on the "spase" Mailing list. Everyone can join the telecon and participate.
</p>

<h3 id="SMWT">SPASE Metadata Working Team (SMWT)</h3>
<p>
Under the auspices of the NASA HDMC, the SPASE Metadata Working Team (SMWT) has been formed with the primary objective of applying the SPASE metadata model to document and describe all electronically-accessible heliophysics data. 
<pre>
    <a class="ext" href="https://hdrl.gsfc.nasa.gov/smwt_home/smwt_index.html">https://hdrl.gsfc.nasa.gov/smwt_home/smwt_index.html</a>
</pre>

</div>


</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Related Items</h2>
<ul class='side_nav'>
	<li><a href="{{assets}}/about.html">About Us</a></li>
	<li><a href="{{assets}}/spase-inside.html">SPASE Inside</a></li>
	<li><a href="{{assets}}/news.html">News</a></li>
</ul>
</div>
</aside>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Follow Us On</h2>
<ul class='side_nav'>
	<li><a target="_blank" href="https://twitter.com/SPASEOutreach">Twitter <i class="fa fa-external-link"></i></a></li>
	<li><a target="_blank" href="https://www.youtube.com/channel/UCavaXaU18ggJlVegr_M-hdw">Youtube Channel <i class="fa fa-external-link"></i></a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>