<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>News</h1>
<div class='gradient_line_half'></div>

<p>
Latest news and events.
</p>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
<a class="twitter-timeline" href="https://twitter.com/SPASEOutreach?ref_src=twsrc%5Etfw">Tweets by SPASEOutreach</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<h2>Follow Us On</h2>
<ul class='side_nav'>
	<li><a href="https://twitter.com/SPASEOutreach">Twitter <i class="fa fa-external-link"></i></a></li>
	<li><a href="https://www.youtube.com/channel/UCavaXaU18ggJlVegr_M-hdw">Youtube Channel <i class="fa fa-external-link"></i></a></li>
</ul>
</div>

</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Related Items</h2>
<ul class='side_nav'>
	<li><a href="about.html">About Us</a></li>
	<li><a href="connect.html">Connect with Us</a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>