---
title: SPASE Conventions
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Conventions</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
	<p>
	<dl>
		<dt><a href="SPASE-Parameter-Key-Formation-Plain-Text-Data-v1.pdf">Parameter Key Formation for Plain Text Data</a></dt>
		<dd>Describes Parameter Key formation rules for describing simple tabular plain text files.</dd>
		<dt><a href="SPASE-Data-Model-Version-Numbers-v2.pdf">Data Model Version Numbers</a></dt>
		<dd>Describes how versions numbers are assigned to each instance of the SPASE Data Model.</dd>
	<dt><a href="Resource-ID-Formation-Rule-v4.pdf">Resource ID Formation Rule</a></dt>
		<dd>A common convention for the formation of resource identifiers used in a SPASE resource description.</dd>
	<dt><a href="Text-Normalization-and-Mark-up-v1.pdf">Text Normalization and Mark-up</a></dt>
		<dd>Describe how to normalize and mark-up text in a SPASE resource descirption to define a desired layout or format.</dd>
	<dt><a href="HP-Event-List-Specification.pdf">Heliophysics Event List (Catalogue) Format</a></dt>
		<dd>Describes the Heliophysics Event List format which is a plain text data format with metadata embedded in comments.<br/>
		<a href="sector_boundary_events_std.txt">Text Example</a> - <a href="sector_boundary_events_std.xml">VOTable Example</a></dd>
	<dt><a href="uri_templates_v1.pdf">URI Template Standard</a></dt>
		<dd>A specification for special fields which can be included in a URI to capture the file and directory naming 
		conventions used to access data and images.</dd>
	</dl>
	</p>
</div>
</section>
</article>
</section>
</div>

<div class='clear'></div>
</div>