---
title: SPASE XML Stylesheets
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class="page_title">XML Stylesheets for SPASE XML documents</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>

<p>This is the location of stylesheets from transforming SPASE XML documents to other formats. 

<h2>HTML</h2>
<p>
To convert SPASE resource descriptions use the generic stylesheet <a href="spase.xsl">spase.xsl</a>
</p>
<p>
This will work with any version of the of the SPASE information model and will produce a easy to read HTML rendering.
</p>

<h2>DataCite</h2>
<p>SPASE metadata can be used to generate DataCite metadata. This can be achieved with the "spase-doi-request" tool in the 
<a href="../resource/index.html">resource toolbox</a>. While this is not a stylesheet transform, it is very similar in principle.
</p>

<h2>Open Archive Initiative (OAI)</h2>
<p>
To convert SPASE metadata to the Open Archive Initiative (OAI) schema use the stylesheet <a href="oai.xsl">oai.xsl</a>
</p>
   
</div>
</section>
</article>
</section>
</div>

<div id='secondary_column'>
<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Related Items</h2>
<ul class='side_nav'>
	<li><a href="{{assets}}/data/model">Base Model</a></li>
	<li><a href="{{assets}}/data/model/schema">Base Model XML Schema</a></li>
	<li><a href="{{assets}}/data/simulation">Simulation Extensions</a></li>
	<li><a href="{{assets}}/data/simulation/schema">Simulation XML Schema</a></li>
</ul>
</div>
</aside>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Tools</h2>
<ul class='side_nav'>
	<li><a href="../resource/index.html">Resource Tools</a></li>
</ul>
</div>
</aside>

</div>
