---
title: SPASE Editor
---
<div class='clearfix' id='site_body' role='main'>
<div class='clearfix' id='primary_column'>

<header id='page_header'>
<h1 class='page_title'>Editor</h1>
<div class='gradient_line_half'></div>
</header>

<section id='page_body'>
<article class='page_body_article'>
<section class='article_body'>
<div class='wysiwyg_content'>
<h1>SPASE XML Editor</h1>
   <p>
      The SPASE XML editor is a web based editor for generating SPASE descriptions.
      Existing descriptions can be loaded from either a URL or selected from a local
      file system and uploaded into the editor. Features include viewing and saving of 
      the XML representation of the description.
   </p>
   <p>
     <a target='_blank' href="https://spase-editor.heliocloud.org/">Web-based editor</a> - Resource descriptions for observed data, simulations and models, plus generated results.
   </p>
   <p>
      This tool was developed by NASA's SPASE Metadata Working Team (SWMT).
   <p>
</div>

</section>
</article>
</section>
</div>

<div id='secondary_column'>

<aside class='desktop_sidenav' id='sidenav'>
<div class='boxed'>
<h2>Related Items</h2>
<ul class='side_nav'>
	<li><a href="../../services/naming-authority.html">List of Naming Authorities</a></li>
	<li><a href="../stylesheet/index.html">XML Stylesheets</a></li>
</ul>
</div>
</aside>

</div>

<div class='clear'></div>
</div>
